header{
    background: #fff;
    padding: 60px;
}

header h1{
    text-align: center;
    font-size: xx-large;
    color: #333333;
    margin: 1.5 0px;
}

.left_column{
    float: left;
    width: 60%;
    padding-left: 5px;
}
.card_blog {
    width: 100%;
    padding: 20px;
    background: #fff;
    margin-top: 40px;
    margin-bottom: 40px;

}

.card_blog img {
   
}

.card_blog h2 {
    color: #333333;
}
.card_blog h5{
    color: #333333;
}
.right_column .card_blog{
     padding: 20px;
}
.right_column .card_blog{
    margin-bottom: 10px;
    width: 100%;
    height: 36vh;
}

@media (max-width:800px){
    .left_column, .right_column{
        width: 100%;
        padding: 0;

    }
}